<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zyee's 3d Gallery</title>
    <link rel="stylesheet" href="../styles/style.css">
  </head>
  <body>

    <canvas id="bg"></canvas>   
    <div id="loader">
      <h1>Loading resources...</h1>
      <b>Controls:</b> <br>
      w, s : Move forward, Move backwards <br> a, d : Move left, Move right <br>
      Use your mouse to look around. <br>
      <b>Mobile controls still under development.</b>
      <br> Click on your screen to start the tour. <br>
      Press the escape key to exit FPS mode.
    </div>
    <script type="module" src="/main.js"></script>
    <script>
      let loader = document.getElementById("loader");
      
    </script>
  </body>
</html>
