<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nzenze's Portfolio</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <nav>
        <div class="logo">
            Z's XR Gallery
        </div>
        <ul class="navItems">
            <a href="#home"><li>Home</li></a>
            <a href="about"><li>About</li></a>
            <a href="gallery"><li>Gallery</li></a>
        </ul>
    </nav>
    <div id="home">
        <h1 style="font-size: 5rem; margin: 8px;width:70%;">
            Hello, <br>
            I'm Nzenze Lovis
        </h1>
        <h3>
            A 3d artist and software eingineer
        </h3>
        <button onclick="goto('/gallery');">Go to 3dGallery</button>
    </div>
</body>
<script>
    function goto(site){
        window.location.assign('/gallery');
    }
</script>
</html>